.container2{
    padding: 0;
    margin: 0;
    text-align: center;
}
.form{
    height: auto;
    margin: 2rem auto;
    padding: 2rem;
    width: 30%;
}
.list{
    float: right;
    padding-right: 1rem;
}


